{% extends 'main/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/passwordchangeStyle.css' %}" type="text/css">
    </head>

    <div class="register">
        <div class="username-div" style="">
            <p>Username: {{ user.get_username }}</p>
        </div>
        <div class="form-div">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-div">
                    <button type="submit" class="change_button">Change password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}