{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css"/>
</head>
<body>
{% if validlink %}
    <div class="register">
        <div class="username-div" style="">
            <p>Username: {{ user.get_username }}</p>
        </div>
        <div class="form-div">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-div">
                    <button type="submit" class="btn btn-success">SEND</button>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <h1>The link is not valid!</h1>
{% endif %}
</body>
</html>