{% extends 'main/index.html' %}
{% load static %}
{% load has_group %}

{% block content %}
    <div class="main__searcher" style=" padding-top: 2%">
        <form class="search__form" method="POST">
            {% csrf_token %}
            <label class="search__label" for="search">Search for stuff</label>
            <input name="searched" class="search__input" placeholder="Search..." autofocus required/>
            <input class="search__button" type="submit" value="Search">
        </form>
    </div>
    <div class="main__holder" style="padding-top: 20px">
        <div class="label_songs" style="padding-bottom: 5px">
            <div class="lp">Lp.</div>
            <div class="lp">Title</div>
            <div class="lp">Team</div>
            <div class="lp">Time</div>
        </div>
        <script>
            let Title = []
            let Mp3 = []
            let Image = []
        </script>
        <div class="songs" style="width: 100%">
            {% for songs in song %}
                <script>
                    Title.push("{{ songs.Title }}")
                    Mp3.push("{{ songs.Mp3 }}")
                    Image.push("{{ songs.Image.url }}")
                </script>
                <div class="box" style="margin-bottom: 5px; padding: 10px; width: 100%"
                     onclick="openForm({{ forloop.counter }})">
                    <p style="color: white">
                    <div class="label_songs">
                        <div class="lp" id="lp-1">{{ forloop.counter }}</div>
                        <div class="lp">{{ songs.Title }} {{ user.account.premiumStatus }} </div>
                        <div class="lp">{{ songs.Team }}</div>
                        <div class="lp">{{ songs.getDuration }}</div>
                        <div class="lp">
                            <p class="hovertext" data-hover="Team:
                                    {% for singers in songs.Team.singers.all %}{{ singers.fName }} {{ singers.sName }};{% endfor %}">
                                INFO
                            </p>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="form-popup" id="myForm">
                    <form class="form-container" id="logo-background"
                          style="background-image: url({{ songs.Image.url }});">
                        <div class="close-container">
                            <button style="float: right;" type="button" class="btn-close" onclick="closeForm()">
                                <span class="icon-cross"></span>
                            </button>
                            <div id="nr-temp" style="visibility: hidden; float: right;"></div>
                            <a style="cursor: pointer;"><i class="fa fa-heart"
                                                           style="float:right; font-size: 40px; margin-top: 2%;"
                                                           aria-hidden="true" onclick="openForm2()"></i></a>
                        </div>

                        <div style="display: inline; width: 20px;">

                            {% if request.user|has_group:"premiumUser" %}
                                <a href="{{ songs.Mp3.url }}" download class="buttonDownload" id="download_song"
                                   style="visibility: visible;">Download</a>
                            {% else %}
                                <a href="{{ songs.Mp3.url }}" download class="buttonDownload" id="download_song"
                                   style="visibility: hidden;">Download</a>
                            {% endif %}

                        </div>

                        <div class="audio-player">
                            <div class="timeline">
                                <div class="progress"></div>
                            </div>
                            <div class="controls">
                                <div class="play-container">
                                    <div class="icono-play">
                                    </div>
                                </div>
                                <div class="time">
                                    <div class="current">0:00</div>
                                    <div class="divider">/</div>
                                    <div class="length"></div>
                                </div>
                                <div class="name" id="song-title">{{ songs.Title }}</div>
                                <div class="volume-container">
                                    <div class="volume-button">
                                        <div class="volume icono-volumeMedium"></div>
                                    </div>
                                    <div class="volume-slider">
                                        <div class="volume-percentage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="form-popup2" id="myForm2">
                    <form class="form-container2" style="background-color: #2f2f2f">
                        <div class="close-container2">
                            <button style="float: right;" type="button" class="btn-close" onclick="closeForm2()">
                                <span class="icon-cross"></span>
                            </button>
                        </div>
                        <div class="playlist_content" style="margin-top: 12%; padding-left: 20px; padding-right: 20px;">
                            <div id="form-temp" style="visibility: hidden;">Hello</div>
                            <p style="font-size: 30px; border-bottom: 20px; border-top: 20px; margin-bottom: 20px;">
                                PlayLists:</p>
                            <div class="playlist_list" style="font-size: 15px; max-height: 100%">
                                {% for playlists in playList %}
                                    <div id="aaa">
                                        {{ playlists.title }}<a style="float: right;" class="playlist_add"
                                                                href="/add_song/{{ playlists.id }}/"><i
                                            class="fa fa-plus" id="add_button" style="" aria-hidden="true"></i></a><br/>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


