{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TAI</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
</head>
<body>
    <header>
        <div class="header-top">
            <div class="profile">
                <img class="logo" src="{% static '/images/profile-logo.png' %}">
                <div class="overlay">
                    <div class="user">{{ user.get_username }}</div>
                </div>
            </div>
            <div class="right-header">
                <button class="button-payU" onclick="location.href = '/payU';">payU</button>
                <button class="button-password" onclick="location.href = '/password_change';">Change password</button>
            </div>
        </div>
        <div class="header-bottom">
            <div class="profile-down">
            </div>
        </div>
    </header>

    <footer>

    </footer>
</body>
</html>