body{
    margin: 0%;
    background: rgb(33,4,41);
    background: linear-gradient(180deg, rgba(33,4,41,1) 0%, rgba(22,2,27,1) 13%);
}
footer{
    background-image: url(../images/header-background.jpg);
    height: 300px;
    width: 100%;
    position:relative;
    bottom: 0px;
    
}
header{
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
    position: fixed;
    justify-content: center;

}
.header-top{
    display: flex;
    background-color: rgb(11, 1, 14);
    height: 90px;
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
}

.header-bottom{
    display: flex;
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
}


.profile{
    display: flex;
    background-color: rgb(255, 255, 153);
    width: 9%;
    height: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
}
.profile-down{
    width: 0; 
    height: 0; 
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    border-top: 50px solid rgb(255, 255, 153);
    position: absolute;
}

.logo{
    padding-top: 2%;
    background-color: none;
    height: 90%;
    width: 90%;
    display: block;
}

.overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #4b1148;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .profile:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .user {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .right-header{
    position: absolute;
    margin-left: 50%;
    margin-top: 2%;
  }

  .button-payU{
      height: 25px;
      width: 50px;
  }