{% extends 'main/index.html' %}
{% load static %}
{% block content %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/payuStyle.css' %}" type="text/css"/>
    </head>
  <br>
<div class="row">
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row bs-example">
            <form action="{% url 'payu' %}" method="post" name="payuForm">
                {% csrf_token %}
            <table>
                <tr>
                    <td class="mandatory_header"><b>Mandatory Parameters</b></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input name="email" id="email" value="{{ posted.email|default:'' }}" /></td>
                    <td>Phone: </td>
                    <td><input name="phone" value="{{ posted.phone|default:'' }}" /></td>
                </tr>

                <td colspan="4">
                    <input style="
                    margin-top: 12px;
                    margin-left: 36%;" type="submit" class="btn-primary" value="SUBMIT">
                </td>
                </tr>
                <tr style="visibility: hidden">
                    <td style="visibility: hidden">Product Info: </td>
                    <td colspan="3" style="visibility: hidden"><textarea style="visibility: hidden" name="productinfo">{{ posted.productinfo|default:'' }}</textarea></td>
                </tr>
                <tr style="visibility: hidden">
                    <td style="visibility: hidden">Transaction ID: </td>
                    <td style="visibility: hidden"><input style="visibility: hidden" name="txnid" value="{{ posted.txnid|default:'' }}" /></td>
                </tr>
                <tr style="visibility: hidden">
                    <td style="visibility: hidden">Amount: </td>
                    <td style="visibility: hidden"><input style="visibility: hidden" name="amount" value="{{ posted.amount|default:'' }}" /></td>
                    <td style="visibility: hidden">  First Name: </td>
                    <td style="visibility: hidden"><input style="visibility: hidden" name="firstname" id="firstname" value="{{ posted.firstname|default:'' }}" /></td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}

