{% extends 'main/index.html' %}
{% load static %}
{% block content %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/succesPayu.css' %}" type="text/css"/>
    </head>
    <h1>Zakup przebiegł pomyślnie</h1>
    <button class="tohome_btn">
            <a href="/home" class="tohome_a"><span class="tohome_span">Back to home page</span></a>
    </button>
{% endblock %}